       /* Custom CSS for styling */
        body {
            background-color: #f8f9fa;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90vh;
        }

        .btn-registration,
        .btn-login {
            padding: 15px 40px;
            font-size: 20px;
            border-radius: 50px;
            border: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .btn-registration {
            background-color: #ff416c;
            margin-bottom: 20px;
        }

        .btn-registration:hover {
            background-color: #ff4786;
        }

        .btn-login {
            background-color: #4a90e2;
        }

        .btn-login:hover {
            background-color: #52a6f4;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 30px;
        }

        p {
            font-size: 18px;
            margin-bottom: 40px;
        }
.cls{
  color: #ffffff;
  background-color: rgb(69, 56, 56);
}


